---
import Layout from "../../layouts/Layout.astro";
import { allPlaylists, songs } from "../../libreria/datos";
import PlaylistItemCard from "../../components/PlaylistItemCard.astro";
import { setOriginalNode } from "typescript";

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id == id);
const playListSongs = songs.filter((song) => song.albumId == playlist?.albumId);
---

<Layout title="Spurify">
  <div
    id="playlist-container"
    class="relative flex flex-col h-full overflow-x-hidden bg-zinc-900"
    transition:name=`playlist ${id} box`
  >
    <header class="flex flex-row gap-8 px-6 text-white mt-12">
      <picture class="h-32 w-32 flex-none mt-11">
        <img
          src={playlist?.cover}
          alt={`Cover of ${playlist?.title}`}
          class="objet-cover w-full h-full shadow-lg rounded-sm"
          transition:name=`playlsit ${playlist?.id} image`
        />
      </picture>

      <div class="flex flex-col justify-between">
        <h2 class="flex flex-1  items-end mb-6 p-1">Lista</h2>
        <div>
          <h1 class="title-clamp text-7xl font-bold block">
            {playlist?.title}
            <span transition:name=`playlist ${playlist?.id} title`></span>
          </h1>
        </div>
        <div class="flex-1 flex items-end p-1">
          <div class="text-sm text-gray-300 font-normal">
            <div transition:name=`playlist ${playlist?.id} artists`>
              <span>{playlist?.artists.join(",")}</span>
            </div>
            <p class="mt-1">
              <span class="text-white flex-none">
                23.664 me gusta . 29 Canciones
.               </span> 2h 13 min
            </p>
          </div>
        </div>
      </div>
    </header>
    <div class="relative z-10 px-6 pt-10">
      <div
        class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/90 -z-10"
      >
      </div>
    </div>
  </div>

  <style></style>
</Layout>
