---
import Layout from "../../layouts/Layout.astro";
import { allPlaylists, songs } from "../../libreria/datos";
import TablaMusica from "../../components/TablaMusica.astro";
import BotonPlayCard from "../../components/BotonPlayCard.jsx";
import NavAdelante from "../../iconos/NavAdelante.astro"
import {NavegacionAtras } from "../../components/Navegacion.jsx"

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id == id);
const playListSongs = songs.filter((song) => song.albumId == playlist?.albumId);
---

<Layout title="Spurify">
  <div
    id="playlist-container"
    class="relative flex flex-col  overflow-x-hidden inset-0 bg-orange-600 bg-gradient-to-t
     from-zinc-900 via-zinc-900"
    transition:name=`playlist ${id} box`
  >

    <header class="flex flex-row">
      <div class="px-6 mt-4 gap-2 flex justify-between">
        <NavegacionAtras client:load/>
      
      <button class="rounded-full p-2 text-white/30 bg-black bg-opacity-40">
        <NavAdelante/>
      </button>
     
    </div>
  </header>
  <div class="flex flex-row gap-8 px-6 text-white mt-2">
      <picture class="h-36 w-36 flex-none mt-11">
        <img
          src={playlist?.cover}
          alt={`Cover of ${playlist?.title}`}
          class="objet-cover w-full h-full shadow-2xl shadow-zinc-900 rounded-sm"
          transition:name=`playlsit ${playlist?.id} image`
        />
      </picture>

      <div class="flex flex-col justify-between">
        <h2 class="flex flex-1 items-end mb-6 p-1">Lista</h2>
        <div>
          <h1 class="title-clamp text-7xl font-bold block">
            {playlist?.title}
            <span transition:name=`playlist ${playlist?.id} title`></span>
          </h1>
        </div>
        <div class="flex-1 flex items-end p-1">
          <div class="text-sm text-gray-300 font-normal">
            <div transition:name=`playlist ${playlist?.id} artists`>
              <span>{playlist?.artists.join(",")}</span>
            </div>
           
            <p class="mt-1">
              <span class="text-white">
                23.664 me gusta  ⋅
                {playListSongs.length} Canciones,
              </span> 2h 13 min
            </p>
          
          </div>
        </div>
      </div>
      </div>
    

    <div class="p-6 mt-4">
       <BotonPlayCard id={id} className="text-lg"  client:load size="large"/>
    </div>
 
    <div class="relative z-10 px-6">
    </div>
      <section class="p-1  font-medium "><TablaMusica songs={playListSongs} /></section>
     </div>
  </div>
</Layout>
