---
import type { Playlist } from "../libreria/datos";
import { BotonPlayCard } from "./BotonPlayCard";

interface Props {
  playlist: Playlist;
}
const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(",");
---
<article
  class="group relative hover:shadow-sm px-1 mb-2 rounded-md transition-all
  duration-300 flex items-center"
>
  <div
    class="absolute right-3 transition-all duration-300 opacity-0 
    group-hover:traslate-y-0 group-hover:opacity-100 z-10"
  >
    <BotonPlayCard id={id} client:visible className="" size="small"/>
  </div>
<a
  href={`/playlist/${id}`}
  class="group relative playlist-item transition-all duration-300 items-center flex overflow-hidden gap-2
    rounded-md bg-zinc-500/30 hover:bg-zinc-300/30 w-56 font-semibold h-12"
  >
   <picture class="h-12 w-12 flex-none">
    <img
      src={cover}
      alt={`Cover of ${title} by ${artistsString}`}
      class="objet-cover w-full h-full"
    />
  </picture>

  <div class="flex flex-auto text-sm flex-col truncate">
    <h4 class="text-white" transition:name=`playlist ${id} title`>
      {title}
    </h4>
  </div>
</a>
</article>